<form (ngSubmit)="addMeeting()">
    <mat-form-field appearance="fill">
        <mat-label>Participants</mat-label>
        <mat-select [formControl]="people" multiple>
            <mat-select-trigger>
                {{people.value ? people.value[0].name : ''}}
                <span *ngIf="people.value?.length > 1" class="example-additional-selection">
                    (+{{people.value.length - 1}} {{people.value?.length === 2 ? 'other' : 'others'}})
                </span>
            </mat-select-trigger>
            <mat-option *ngFor="let person of peopleList" [value]="person">{{person.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field>
        <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose start date and time" [formControl]="startDateControl">
        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
            [stepMinute]="1" [stepSecond]="1" 
            [disableMinute]="false" [hideTime]="false">
        </ngx-mat-datetime-picker>
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field>
        <input matInput [ngxMatDatetimePicker]="picker2" placeholder="Choose end date and time" [formControl]="endDateControl">
        <mat-datepicker-toggle matSuffix [for]="$any(picker2)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker2 [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
            [stepMinute]="1" [stepSecond]="1" 
            [disableMinute]="false" [hideTime]="false">
        </ngx-mat-datetime-picker>
    </mat-form-field>

    <mat-divider></mat-divider>
    <button type="submit" mat-button>Add</button>
</form>